<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Landing Page 1440</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg py-4 py-xs-4">
      <div class="container text-uppercase">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon btn-close-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav me-auto">
            <a class="nav-link active" aria-current="page" href="#mainpage">Home</a>
            <a class="nav-link active" aria-current="page" href="#">Work</a>
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
            <a class="nav-link active" aria-current="page" href="#">About Me</a>
            <a class="nav-link active" aria-current="page" href="/biodata">Biodata</a>
            <a class="nav-link active" aria-current="page" href="/histori">History</a>
          </div>
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page"><%= user.username %></a>
            <a class="nav-link active" aria-current="page" href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- main content -->
    <section id="mainpage" class="content mainpage d-flex align-items-center">
      <div class="container-fluid">
        <div class="d-flex justify-content-center">
          <div class="flex-column text-center">
            <h1>play traditional game</h1>
            <h3>Experience new traditional game play</h3>
            <a role="button" href="/game" class="hero-button text-uppercase">play now</a>
          </div>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x text-center hidden-xs-1">
          <a href="#aboutgallery" class="text-decoration-none text-white">
            <h3>the story</h3>
            <img src="img/scroll-down.svg" alt="show-more" />
          </a>
        </div>
      </div>
    </section>
    <!-- about + gallery -->
    <section class="content aboutgallery" id="aboutgallery">
      <div class="container">
        <div class="row d-sm-flex text-sm-center text-lg-start">
          <!-- only text -->
          <div class="col-lg-3 col-md-12 left-xs">
            <h3>What's so special ?</h3>
            <h1>the games</h1>
          </div>
          <!-- slide show image -->
          <div class="col-lg-9 col-md-12 py-lg-4 d-flex">
            <img class="switch-left" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" src="img/switch-left.svg" alt="">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                  </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
            <img class="switch-right" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" src="img/switch-right.svg" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- game features -->
    <section class="content gamefeature">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="header">
              <h3>What's so special ?</h3>
              <h1>features</h1>
            </div>
            <div class="col-lg-8 col-sm-8">
              <ul class="timeline">
                <li>
                  <a class="text-bg-binar">TRADITIONAL GAMES</a>
                  <p>If you miss your childhood, we provide<br>many traditional games here</p>
                </li>
                <li class="not-acitve">
                  <a class="text-bg-binar">Game Suit</a>
                </li>
                <li class="not-acitve">
                  <a class="text-bg-binar">TBD</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- system requires -->
    <section class="content systemrequire">
      <div class="container">
        <div class="row pt-lg-6 pb-5">
          <h3 class="text-center pb-lg-3 pt-sm-5 pb-sm-5 py-xs">Can My Computer Run this game ?</h3>
          <div class="col pt-lg-5 px-xs">
            <h1 class="pb-lg-4 text-sm-center text-lg-start pb-sm-4 text-xs-center py-xs">system <br class="hidden-xs"> requirments</h1>
            <!-- <img src="img/disquette.svg" alt="" style="position: absolute; width: 80px; background-color: rgba(255, 255, 255, 0.8); z-index: 10;"> -->
            <div class="row border-sys">
              <div class="col pb-lg-4"><span class="text-bg-binar">OS:</span>
                <br>Windows 7 64-bit only 
                <br>(No OSX support at this time)
              </div>
              <div class="col pb-lg-4"><span class="text-bg-binar">PROCESSOR:</span>
                <br>Intel Core 2 Duo @ 2.4 GHZ or 
                <br>AMD Athlon X2 @ 2.8 GHZ
              </div>
            </div>
            <div class="row border-sys">
              <div class="col pb-lg-4"><span class="text-bg-binar">mEMORY:</span>
                <br>4 GB RAM
              </div>
              <div class="col pb-lg-4"><span class="text-bg-binar">storage:</span>
                <br>8 GB available space
              </div>
            </div>
            <div class="row border-sys">
              <div class="col pb-lg-4">
                <span class="text-bg-binar">GRAPHICS:</span>
                <br>NVIDIA GeForce GTX 660 2GB or 
                <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
              </div> 
            </div>
          </div>
          <div class="col-lg"></div>
        </div>
      </div>
    </section>
    <!-- press quotes -->
    <section class="content pressquotes">
      <div class="container">
        <div class="row d-flex align-items-center pt-6">
          <div class="col-lg-6 mb-lg-5 text-sm-center text-lg-start p-sm-2 text-lg-start text-xs-center">
            <h1 class="py-xs">top scores</h1>
            <p class="pt-sm-3 pb-lg-4">This top score from various games provided on this platform</p>
            <a href="" class="hero-button">see more</a>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="container d-sm-flex d-lg-block flex-sm-column justify-content-sm-center align-items-sm-center">
              <!-- evan -->
              <div class="row justify-content-lg-end mb-3 item-xs-center">
                <div class="card">
                  <div class="container d-flex flex-wrap">
                    <img src="img/evan-lahti.jpg" alt="acc" class="avatar d-flex align-items-end">
                    <div class="me-auto ps-4 d-flex flex-column">
                      <span class="text-bg-binar">Evan lahti</span>
                      <span class="opacity-50">Pc Gamer</span>
                    </div>
                    <img src="img/twitter.svg" alt="logo" class="">
                  </div> 
                  <div class="container pt-lg-2">
                    <p>“One of my gaming highlights of the year.”<br></p>
                    <span class="opacity-50">June 18, 2021</span>
                  </div>
                </div>
              </div>
              <!-- jada -->
              <div class="row justify-content-lg-start mb-3 item-xs-center">
                <div class="card">
                  <div class="container d-flex flex-wrap">
                    <img src="img/jada-griffin.jpg" alt="acc" class="avatar d-flex align-items-end">
                    <div class="me-auto ps-4 d-flex flex-column">
                      <span class="text-bg-binar">Jada Griffin </span>
                      <span class="opacity-50">Nerdreactor</span>
                    </div>
                    <img src="img/twitter.svg" alt="logo" class="">
                  </div> 
                  <div class="container pt-lg-2">
                    <p>“The next big thing in the world of streaming and survival games.”<br></p>
                    <span class="opacity-50">July 10, 2021</span>
                  </div>
                </div>
              </div>
              <!-- Aaron Williams -->
              <div class="row justify-content-lg-end mb-3 item-xs-center">
                <div class="card">
                  <div class="container d-flex flex-wrap">
                    <img src="img/aaron-williams.jpg" alt="acc" class="avatar d-flex align-items-end">
                    <div class="me-auto ps-4 d-flex flex-column">
                      <span class="text-bg-binar">Aaron Williams</span>
                      <span class="opacity-50">Uproxx</span>
                    </div>
                    <img src="img/twitter.svg" alt="logo" class="">
                  </div> 
                  <div class="container pt-lg-2">
                    <p>“Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.”<br></p>
                    <span class="opacity-50">December 24, 2018</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- subsfooter -->
    <section class="content subsfooter">
      <div class="container">
        <div class="row py-5">
          <div class="col-lg-6 col-md-12 text-center">
            <div class="container">
              <img class="skull" src="img/skull.png" alt="gambar"/>
            </div>
          </div>
          <div class="col my-auto">
            <h3 class="mb-2 text-xs-center text-sm-center text-lg-start">
              Want to stay in <br class="hidden-xs"> touch ?
            </h3>
            <h1 class="mb-2 text-xs-center text-sm-center text-lg-start">
              newsletter <br class="hidden-xs"> SUBSCRIBE
            </h1>
            <p class="konten text-sm-center text-lg-start">
              In order to start receiving our news, 
              all you have to do is enter your email address. 
              Everything else will be taken care of by us. 
              We will send you emails containing information about game. 
              We don't spam.
            </p>
            <div class="row">
              <div class="col-lg-7">
                <form>
                  <div class="field">
                    <input type="text" name="fullname" id="fullname" value="youremail@binar.co.id"/>
                    <label class="text-capitalize">your email address</label>
                  </div>
                </form>
              </div>
              <div class="col-lg-5">
                <a role="button" class="button-email d-flex justify-content-center align-items-center hero-button text-dark">
                  Subscribe now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer class="mt-lg-5">
        <div class="container text-uppercase">
          <div class="row d-flex pb-4">
            <div class="col-lg-1"></div>
            <div class="col-lg-8 d-flex justify-content-sm-center item-xs-center">
              <a href="" class="fw-bold px-lg-2 px-md-0">home</a>
              <a href="" class="fw-bold px-lg-2 px-md-0">about</a>
              <a href="" class="fw-bold px-lg-2 px-md-0">game features</a>
              <a href="" class="fw-bold px-lg-2 px-md-0">system requirements</a>
              <a href="" class="fw-bold px-lg-2 px-md-0">quotes</a>
            </div>
            <div class="col-lg-3 d-flex justify-content-lg-between justify-content-sm-center item-xs-center">
              <a href="" class="">
                <img src="img/facebook.svg" alt="facebook" />
              </a>
              <a href="" class="">
                <img src="img/twitter2.svg" alt="twitter" />
              </a>
              <a href="" class="">
                <img src="img/vector.svg" alt="youtube" />
              </a>
              <a class="">
                <img src="img/twitch.svg" alt="twitch" />
              </a>
            </div>
          </div>
          <div class="border w-100 d-flex"></div>
          <div class="row pt-lg-2 pb-lg-3 d-flex column-xs-reverse">
            <div class="col d-flex text-capitalize opacity-25 justify-content-lg-start justify-content-sm-center item-xs-center">
              © 2018 Your Games, Inc. All Rights Reserved
            </div>
            <div class="col-lg d-flex justify-content-lg-end small justify-content-sm-center item-xs-center">
              <a href="" class="fw-bold d-flex align-items-center">Privacy Policy</a>
              <span>&nbsp;|&nbsp;</span> 
              <a href="" class="fw-bold d-flex align-items-center">Terms of Services</a>
              <span>&nbsp;|&nbsp;</span>
              <a href="" class="fw-bold d-flex align-items-center">Code of Conduct</a>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>