<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" href="/css/game.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
</style>
<body>
    <header class="d-flex align-items-center">
        <div role="button" class="back mx-1 ps-3">
           <a href="/"><img class="w-75" src="/img/_.png" alt=""></a>
        </div>
        <div role="button" class="logo mx-1"><img src="/img/logo 1.png" alt=""></div>
        <div class="title-game mx-3 title"><h1>ROCK PAPPER SCISSORS</h1></div>
    </header>
    <section class="container">
        <div class="row text-center">
            <!-- player -->
            <div class="col" id="myId">
                <div class="mb-5">           
                    <h1> <%= user.username %> </h1>
                </div>
                <div class="my-3 option">
                    <img id="rock" class="player" role="button" src="/img/batu.png" alt="batu">
                </div>
                <div class="my-3 option">
                    <img id="scissors" class="player" role="button" src="/img/gunting.png" alt="gunting">
                </div> 
                <div class="my-3 option">
                    <img id="paper" class="player" role="button" src="/img/kertas.png" alt="kertas">
                </div>
            </div>
            <!-- vs -->
            <div class="col d-flex justify-content-center align-items-center">
                <div id="vs" class="vs">VS</div>
                <div id="win" class="d-flex justify-content-center align-items-center result win text-uppercase">player<br> WIN</div>
                <div id="lose" class="d-flex justify-content-center align-items-center result win">COM <br> WIN</div>
                <div id="draw" class="d-flex justify-content-center align-items-center result draw">DRAW</div>
            </div>
            <!-- com -->
            <div class="col">
                <div class="mb-5"><h1>Bot</h1></div>
                <div class="my-3 option">
                    <img id="comrock" clas="bot" src="/img/batu.png" alt="batu">
                </div>
                <div class="my-3 option">
                    <img id="comscissors" class="bot" src="/img/gunting.png" alt="gunting">
                </div>
                <div class="my-3 option">
                    <img id="compaper" class="bot" src="/img/kertas.png" alt="kertas">
                </div>
            </div>
        </div>
        <div class="text-center option">
            <img id="reset" class="reset" role="button" src="/img/refresh.png" alt="reset">
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>